/* Structure */
.navbar{
  margin-bottom: 0;
}
footer{
  padding: 20px 0 50px;
}

/* Emphasis on bitcoin address */
.address{
  font-size: 150%;
  background: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  margin-bottom: 20px;
}

/* Remove margin from qr code */
.qrcode{
  text-align: center;
  overflow: hidden;
}
.qrcode img{
  text-align: center;
  display: inline-block;
  margin: -5% -10%;
}
@media (min-width: 768px) {
  .qrcode img{
    width: 120%;
    height: 120%;
  }
}