{% extends "master.html" %}

{% block body %}

<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Bitcoin Wifi</h1>
        <p>You are seconds away from accessing wifi. All you need to do is send an appropriate amount of bitcoins for the duration you want access. Note that access is for the device currently viewing this webpage, but payment can be from any device.&nbsp;</p>
        <p></p>

        <td>The address for payment is : {{ bitcoinaddress }}</td>

        <table>
            <thead><td>Price</td><td>Duration</td></thead>
            <tbody>

            {% for p in paymentoptions %}
            <tr>
                <td>{{ p[1] }} btc </td> <td>{{ p[2] }} </td>
                <td>
                    <a href="bitcoin:{{ bitcoinaddress }}?amount={{ p[1] }}&label=BitcoinWifiHotspot">Wallet Payment</a>
                <td>or display <a href="#" rel="qr_{{ p[0] }}"> QR code</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


        <p>By sending payment to any of these address, you agree with the <a href="/terms">terms and conditions </a>of this access point.</p>Once you have made payment, click the big blue box here.
        <a href="/checkaccess" class="btn btn-primary btn-large">Check payment &raquo;</a>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>LocalBitcoins</h2>
            <p>Need to get some bitcoins? Here's a list of local vendors complete with contact details</p>
            <p><a class="btn" href="http://localbitcoins.com">localbitcoins.com</a></p>
        </div>
        <div class="span4">
            <h2>Blockchain.info</h2>
            <p>Find out the latest statistics about the bitcoin blockchain here.</p>
            <p><a class="btn" href="http://blockchain.info">blockchain.info</a></p>
        </div>
        <div class="span4">
            <h2>bitcoin.org</h2>
            <p>What on earth is bitcoin anyhoo ?</p>
            <p><a class="btn" href="http://bitcoin.org/">bitcoin.org</a></p>
        </div>
    </div>
    <p>Technical stuff : Port 8333 is open regardless, so that any bitcoin payments can be sent via this hotspot. The above sites are sponsors of this hotspot and so access to those sites is open.</p>
    <hr>
    <footer>
        <p>&copy; bitcoinwifi.net 2013 .  See  <a href="https://github.com/ragmondo/BitcoinWifi">github</a> or <a href="http://www.getbitcoin.info/hotspot">here</a></p>
    </footer>
</div>



<script type="text/javascript">
    $(document).ready(function() {

        {% for p in paymentoptions %}

            $("[rel=qr_{{ p[0] }}]").popover({
                placement : 'bottom', //placement of the popover. also can use top, bottom, left or right
                title : '<div style="text-align:center; color:red; text-decoration:underline; font-size:14px;">{{ p[1] }} - {{ p[2] }} </div>', //this is the top title bar of the popover. add some basic css
                html: 'true', //needed to show html of course
                content : '<div id="popOverBox"><img src="/qrcode/{{p[0]}}" width="251" height="201" /></div>' //this is the content of the html box. add the image here or anything you want really.
            });

            {% endfor %}

        });
</script>

{% endblock %}