<!doctype html>

<head>
    <title>Bitcoin Wifi Hotspot</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>


    <meta charset="utf-8">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        @media(max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
    <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"> -->
</head>

<div class=page>
    <h1></h1>
    <div class=metanav>

    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block bodymenu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Bitcoin Wifi</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href>About</a>
                        </li>
                        <li>
                            <a href>Contact</a>
                        </li>
                        <!-- <li class="dropdown">                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>                <ul class="dropdown-menu">                  <li>                    <a href="#">Action</a>                  </li>                  <li>                    <a href="#">Another action</a>                  </li>                  <li>                    <a href="#">Something else here</a>                  </li>                  <li class="divider"></li>                  <li class="nav-header">Nav header</li>                  <li>                    <a href="#">Separated link</a>                  </li>                  <li>                    <a href="#">One more separated link</a>                  </li>                </ul>              </li>              -->
                    </ul>
                    <!-- <form class="navbar-form pull-right">              <input class="span2" type="text" placeholder="Email">              <input class="span2" type="password" placeholder="Password">              <button type="submit" class="btn">Sign in</button>            </form> -->
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% endblock %}

    {% block body %}

    {% endblock %}

    <hr>


    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>

</div>






<!doctype html>

<html>



<body>


<!-- /container -->
</body>

</html>