<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bitcoin Wifi Hotspot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>

  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block bodymenu %}
  <header class="navbar navbar-static-top navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Bitcoin Wifi</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Get access</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  {% endblock %}

  {% block body %}

  {% endblock %}
  <hr>
  <footer class="container">
    <p>
      &copy; bitcoinwifi.net 2013 .  See  <a href="https://github.com/ragmondo/BitcoinWifi">github</a> or <a href="http://www.getbitcoin.info/hotspot">here</a>
    </p>
  </footer>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>