<div class="container">
  <h2>About Bitcoin Wifi</h2>
  <p class="lead">
    Bitcoin Wifi is an open source wifi hotspot system hosted on a Raspberry Pi for which can be paid with bitcoin.
  </p>
  <p>
    This amount is for the first hour, check out the <a href="#prices">prices for longer sessions</a>. By sending a payment to this address, you agree with the <a href="/terms">terms&nbsp;and&nbsp;conditions</a> of this hotspot.
  </p>

  <h3>About Bitcoin</h3>

  <p>Get to know all about Bitcoin on bitcoin.org</p>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">bitcoin.org</h2>
        </div>
        <div class="panel-body">
          <p>
            What on earth is bitcoin anyhoo ?
          </p>
          <a href="http://bitcoin.org">Visit bitcoin.org</a>
        </div>
      </div>
    </div>
     <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">LocalBitcoins</h2>
        </div>
        <div class="panel-body">
          <p>
            Need to get some bitcoins? Here's a list of local vendors complete with contact details
          </p>
          <a href="http://localbitcoins.com">Visit localbitcoins.com</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Blockchain.info</h2>
        </div>
        <div class="panel-body">
          <p>
            Find out the latest statistics about the bitcoin blockchain here.
          </p>
          <a href="http://blockchain.info">Visit blockchain.info</a>
        </div>
      </div>
    </div>
  </div>
</div>
